body {
  background-image: url("bg3.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  font-family: Arial, sans-serif;
  display: block !important;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
body::-webkit-scrollbar {
  display: none;
}
.btn-dashboard {
  padding: 10px 20px;
  background-color: goldenrod;
  color: white;
  border: none;
  cursor: pointer;
  width: 500px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: large;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}