
#twitch-live-container{
    max-width:1200px;
    margin:0 auto;
    padding:20px;
    text-align:center;
    font-family:Arial, sans-serif;
    
}

#countdown{
    font-size:20px;
    margin-bottom:20px;
}

#iframes{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

